*{
    margin: 0;
    padding: 0;
}
body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    border: solid black;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(157, 233, 233);
}
.cabeza{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
h1{
    background-color: rgb(231, 62, 40);
    margin-bottom: 10px;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
}
.contenedor div {
    display: block;
    padding-bottom: 5px;
    box-shadow: 2px 2p 10px rgba(0, 0, 0, .25);
}
h2{
    text-align: center;
    background: grey;
}
.datos{
    grid-row: 1;
}
p{
    padding: 10px;
}
.estudios{
    grid-row: 2;
}
.laboral{
    grid-row: 3;

}
.capacitacion{
    grid-row: 4;
}
.contenedor2{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.contenedor2 div{
    background-color: rgb(180, 175, 175);
}